
= render 'products/topHeader__inner'

%main.l-container
  .l-content
    .logout-info 
      -# = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"
      = link_to "ログアウト", class: "logout"
  = render partial: 'users/side'

= render 'products/footer'
