.container
  .header
    .header__logo
      %h1
        %a{:href => "#"}
          %img{:alt => "mercari", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3837278537"}/
  .contents
    .contents__box
      %h2.contents__message
      %p アカウントをお持ちでない方はこちら
      %a{:href => "#"} 新規会員登録
      .contents__btn
        %button#google-login.btn-default.btn-sns.btn-sns-google
          %i.fab.fa-google
          Googleで登録する
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-square
          Facebookで登録する
        %button#apple-login.btn-default.btn-sns.btn-sns-apple
          %i.fab.fa-apple
          Appleで登録する
        .login-form-inner
          .form-group
            %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
          .form-group
            %input.login-input-pass.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
          %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
