<div class="container">
  <div class="header">
    <div class="header__logo">
      <h1>
        <a href="#">
          <img src="//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3837278537" alt="mercari">
        </a>
      </h1>
    </div>
  </div>

  <div class="contents">
    <div class="contents__box">
      <h2 class=contents__message><b>新規会員登録</b></h2>
      <div class="contents__btn">
        <a href="#" class="btn-default btn-mail">
          <i class="icon-mail"></i>
          メールアドレスで登録する
        </a>
        <button id="google-login" class="btn-default btn-sns btn-sns-google">
          <i class="fab fa-google"></i>
          Googleで登録する
        </button>
        <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
          <i class="fab fa-facebook-square"></i>
          Facebookで登録する
        </button>
        <button id="apple-login" class="btn-default btn-sns btn-sns-apple">
          <i class="fab fa-apple"></i>
          Appleで登録する
        </button>
        <div class="form-group">
          <p class="form-info-text">
            登録することで、<a href="/jp/tos/" target="_blank">利用規約</a>と<a href="/jp/privacy/" target="_blank">プライバシーポリシー</a>に同意したものとみなされます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
