%body
  .single-container
    %header.single-header
      %h1
        %a{:href => "#"}
          %img{:alt => "mercari", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?1299396491"}/
    %main.single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          %a{:href => "#"} 新規会員登録
        .login-form-inner
          %button#google-login.btn-default.btn-sns.btn-sns-google
            Googleでログイン
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.icon-facebook
            Facebookでログイン
          %button#apple-login.btn-default.btn-sns.btn-sns-apple
            %i.icon-apple
            Appleでログイン
        %form{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
          .login-form-inner
            .form-group
              %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
            .form-group
              %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
            .form-group
              %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
              %input{:name => "login_callback", :type => "hidden", :value => "#"}/
              %input{:name => "__csrf_value", :type => "hidden", :value => "2f0aa6de9aaf79c205f30ae59c9e9773f3ee77bfc79b90b5337d982e2fb6ebfda304f9d995a80e84b55fc49e7748a7543cb458033ada364a69e1a2373cd8ca48a"}/
        %form#login_form_facebook{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "2f0aa6de9aaf79c205f30ae59c9e9773f3ee77bfc79b90b5337d982e2fb6ebfda304f9d995a80e84b55fc49e7748a7543cb458033ada364a69e1a2373cd8ca48a"}/
          %input{:name => "nickname", :type => "hidden", :value => ""}/
          %input{:name => "email", :type => "hidden", :value => ""}/
          %input{:name => "facebook_user_id", :type => "hidden", :value => ""}/
          %input{:name => "facebook_access_token", :type => "hidden", :value => ""}/
          %input{:name => "login_type", :type => "hidden", :value => "facebook"}/
          %input{:name => "login_callback", :type => "hidden", :value => "#"}/
        %form#login_form_google{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "2f0aa6de9aaf79c205f30ae59c9e9773f3ee77bfc79b90b5337d982e2fb6ebfda304f9d995a80e84b55fc49e7748a7543cb458033ada364a69e1a2373cd8ca48a"}/
          %input{:name => "nickname", :type => "hidden", :value => ""}/
          %input{:name => "email", :type => "hidden", :value => ""}/
          %input{:name => "google_user_id", :type => "hidden", :value => ""}/
          %input{:name => "google_access_token", :type => "hidden", :value => ""}/
          %input{:name => "login_type", :type => "hidden", :value => "google"}/
          %input{:name => "login_callback", :type => "hidden", :value => "#"}/
        %form#login_form_apple{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "2f0aa6de9aaf79c205f30ae59c9e9773f3ee77bfc79b90b5337d982e2fb6ebfda304f9d995a80e84b55fc49e7748a7543cb458033ada364a69e1a2373cd8ca48a"}/
          %input{:name => "apple_code", :type => "hidden", :value => ""}/
          %input{:name => "apple_state", :type => "hidden", :value => ""}/
          %input{:name => "login_type", :type => "hidden", :value => "apple"}/
          %input{:name => "login_callback", :type => "hidden", :value => "#"}/
        %input#google_client_id{:type => "hidden", :value => "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
        %input#facebook_app_id{:type => "hidden", :value => "466308336793848"}/
        %footer.single-footer
