<div class="body">
  <div class="logo">
    <div class="logo__img"></div>
  </div>

  <div class="check-lists">
  
    <div class="head">購入内容の確認</div>
    
    <div class="product-info">
      <div class="product-info__img"></div>
      <div class="product-info__detail">
        <div class="product-title">
          持続可能な成長のための品質機能展開 : JIS Q 9025の有効活用法とその…
        </div>
        <div class="fee-price">
          <div class="fee">送料込み（税込）</div>
          <div class="price">¥750</div>
        </div>
      </div>
    </div>

    <div class="pay-info">
      <div class="pay-info__title">支払い金額</div>
      <div class="pay-info__price">¥750</div>
    </div>

    <div class="method-info">
      <div class="method-info__head">
        <div class="method-title">支払い方法</div>
        <div class="method-change">変更する 〉</div>
      </div>
      <div class="method-info__detail">
        クレジットカード<br>
        *************2928<br>
        有効期限 06/23
        </div>
    </div>

    <div class="delivery-info">
      <div class="delivery-info__head">
        <div class="delivery-title">配送先</div>
        <div class="delivery-change">変更する 〉</div>
      </div>
      <div class="delivery-info__detail">
        〒000-0000<br>
        東京都 八王子市 aaaaaaa bbbbbb<br>
        山田 太郎
        </div>
    </div>

    <div class="decision-btn">購入する</div>
  </div>
</div>