$color1: #f8f8f8;
$width1: 700px;
$furima-color: #3CCACE;

.check-body {
  width: 100vw;
  line-height: 100%;
  padding:20px 0;
  background-color: $color1;
}
.check-logo {
  width: $width1;
  height: 70px;
  margin: 40px auto;
  &__img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}





// #############################################
// 商品購入確認ページ
// #############################################
.check-lists {
  width: $width1;
  margin: 20px auto;
  background-color: #fff;
  padding: 34px 0 27px 0;

  // ---------------------------------------------
  // 購入内容の確認
  // ---------------------------------------------
  .head {
    width: 370px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    padding: 0 0 36px 0;
    border-bottom: 1px solid $color1;
  }

  // ---------------------------------------------
  // 商品詳細（画像、タイトル、送料、価格）
  // ---------------------------------------------
  .product-info {
    width: 370px;
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 1px solid $color1;
    display: flex;
    justify-content: center;
    &__img {
      width: 80px;
      height: 80px;
      margin-right: 17px;
      border-radius: 5px;
    }
    &__detail {
      width: 250px;
      .product-title {
        height: 40px;
        margin-bottom: 10px;
        font-size: 14px;
      }
      .fee-price {
        width: 250px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .fee {
          font-size: 12px;
        }
        .price {
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }


  // ---------------------------------------------
  // 支払い金額
  // ---------------------------------------------
  .pay-info {
    width: 370px;
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 1px solid $color1;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    &__title {
      margin-left: 15px;
    }
    &__price {
      margin-right: 15px;
    }
  }

  // ---------------------------------------------
  // 支払い方法
  // ---------------------------------------------
  .method-info {
    width: 370px;
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 1px solid $color1;
    &__head {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      .method-title {
        font-size: 16px;
        font-weight: bold;
      }
      .method-change {
        font-size: 14px;
      }
    }
    &__detail {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  // ---------------------------------------------
  // 配送先
  // ---------------------------------------------
  .delivery-info {
    width: 370px;
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 1px solid $color1;
    &__head {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      .delivery-title {
        font-size: 16px;
        font-weight: bold;
      }
      .delivery-change {
        font-size: 14px;
      }
    }
    &__detail {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  // ---------------------------------------------
  // 購入する（ボタン）
  // ---------------------------------------------
  .decision-btn {
    width: 350px;
    height: 50px;
    margin: 30px auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $furima-color;
  }

}

.terms {
  width:400px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .term {
    font-size: 11px;
    text-align: center;
  }
}



